<link href="~/css/ResourceById.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<section>
    <div>
        <input type="text" id="name" placeholder="">
        <label for="name">Название сервиса</label>
    </div>
    <div>
        <input type="text" id="link" placeholder="">
        <label for="link">Ссылка на сервис</label>
    </div>
    <div>
        <input type="text" id="description" placeholder="">
        <label for="description">Краткое описание сервиса</label>
    </div>
    <button id="send-button">Отправить</button>
</section>
@section Scripts {
    <script src="~/js/ResourceRequest.js"></script>
}