@using Microsoft.Extensions.Configuration
@using Microsoft.Extensions.Options
@inject IOptions<GoogleCaptchaConfig> GoogleCaptchaConfig
<script src="https://www.google.com/recaptcha/api.js?render=@GoogleCaptchaConfig.Value.SiteKey"></script>
<link href="~/css/ResourceRequest.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/ResourceRequest.js"></script>
<section class="container edit-form-box">
    <h2 id="request-text">Создать запрос</h2>
    <div id="send-form" >
        <input type="hidden" id="token" />
        <div>
            <div><label for="name"><h4>Название сервиса</h4></label></div>
            <input type="text" id="name" placeholder="">
           
        </div>
        <div>
            <div>
                <label for="link"><h4>Ссылка на сервис</h4></label>
            </div>
            <input type="text" id="link" placeholder="">
           
        </div>
        <div>
                <div>
                <label for="description"><h4>Краткое описание сервиса</h4></label>
                </div>
            <input type="text" id="description" placeholder="">
           
        </div>
        <button id="send-button">отправить</button>
    </div>
    <div id="on-success" class="hidden">
        <p>Заявка успешно отправлена</p>
        <a asp-controller="Resources" asp-action="ShowRequestsPage" asp-route-watched="true" asp-route-nothing="true">Просмотреть аявки</a>
        <a asp-controller="Resources" asp-action="ResourceRequest" >Отправить ещё одну заявку</a>
    </div>
</section>
<script>
    function getToken(){
        $(function () {
            grecaptcha.ready(function () {
                grecaptcha.execute('@GoogleCaptchaConfig.Value.SiteKey', { action: 'submit' }).then(function (token) {
                    document.getElementById('token').value = token;
                });
            });
        });
    }
    setInterval(getToken, 115000);
    $(function(){
        getToken();
    });
</script>