@using Microsoft.Extensions.Configuration
@using Microsoft.Extensions.Options
@inject IOptions<GoogleCaptchaConfig> GoogleCaptchaConfig
<script src="https://www.google.com/recaptcha/api.js?render=@GoogleCaptchaConfig.Value.SiteKey"></script>
<link href="~/css/ResourceRequest.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/ResourceRequest.js"></script>
<section>
    <div id="send-form">
        <input type="hidden" id="token" />
        <div>
            <input type="text" id="name" placeholder="">
            <label for="name">Название сервиса</label>
        </div>
        <div>
            <input type="text" id="link" placeholder="">
            <label for="link">Ссылка на сервис</label>
        </div>
        <div>
            <input type="text" id="description" placeholder="">
            <label for="description">Краткое описание сервиса</label>
        </div>
        <button id="send-button">Отправить</button>
    </div>
    <div id="on-success" class="hidden">
        <p>Заявка успешно отправлена</p>
        <a asp-controller="Resources" asp-action="ShowRequestsPage">Просмотреть заявки</a>
        <a asp-controller="Resources" asp-action="ShowRequestsPage">Отправить ещё одну заявку</a>
    </div>
</section>
<script>
    function getToken(){
        $(function () {
            grecaptcha.ready(function () {
                grecaptcha.execute('@GoogleCaptchaConfig.Value.SiteKey', { action: 'submit' }).then(function (token) {
                    document.getElementById('token').value = token;
                });
            });
        });
    }
    setInterval(getToken, 115000);
    $(function(){
        getToken();
    });
</script>