.comment-head {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.comment {
    padding: 20px;
    border: 1px solid #693423;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: white;
}

.comments {
    margin-top: 20px;
}

h3 {
    font-weight: bold;
    margin: 0;
    font-size: 20px;
}

.first-section
{
    margin: 20px;
    margin-bottom: 40px;
}

.first-section > div > * 
{
    margin-bottom: 30px;
}

.send-comments {
    margin-bottom: 40px;

}
    .send-comments > div > button {
        background-color: #693423;
        color: #f7f1d5;        
        padding: 5px;
        background-color: #693423;
        border-radius: 25px;
        
    }

.resource-link {
    background-color: #693423;
    text-decoration: none;
    color: #f7f1d5;
    padding: 10px;
    border-radius: 25px;
    font-weight: bold; important!
}

.comment-text {
    border-radius: 25px;
    padding: 7px;
    resize: none;
    width: 30%;
}

.resource-pic 
{
    max-width: 75%;
    margin: 0 auto;
}