.user button,.user input{
    display: none;
}
.completed{
    
}
.nothing{
    
}
.rejected{

}
.watched{

}

.filters {
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.create-request-box {
    background-color: #693423;
    text-decoration: none;
    color: #f7f1d5;
    padding: 10px;
    border-radius: 25px;
    font-weight: bold;
}

.request-block {
    padding: 20px;
    border: 2px solid #693423;
    border-radius: 25px;
    margin-bottom: 50px;
    background-color: #ffff;
}


 input[type=submit]:hover {
        scale: 1.1;
        padding: 5px;
       
    }

section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
   justify-content: center;
}

.request-block
{
    width: 45%;
}
.completed .reject-button, .completed .check-button, .completed .submit-button, .rejected .check-button,
.rejected .submit-button, .rejected .reject-button, .watched .check-button {
    pointer-events: none;
    opacity: .65;
}
