/*.user button,.user input{
    display: none;
}*/
.completed{
    
}
.nothing{
    
}
.rejected{

}
.watched{

}

.filters {
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}

.request-block {
    padding: 20px;
    border: 2px solid #693423;
    border-radius: 25px;
    margin-bottom: 50px;
    background-color: #ffff;
}

button:hover
{
   opacity: 0.6;
}
 input[type=submit]:hover {
        scale: 1.1;
        padding: 5px;
       
    }

section {
    overflow: hidden;
}
.completed .reject-button, .completed .check-button, .completed .submit-button, .rejected .check-button,
.rejected .submit-button, .rejected .reject-button, .watched .check-button {
    pointer-events: none;
    opacity: .65;
}