/*.user button,.user input{
    display: none;
}*/
.completed{
    
}
.nothing{
    
}
.rejected{

}
.watched{

}
.completed .reject-button, .completed .check-button, .rejected .check-button,
.reject .submit-button,.watched .check-button{
    pointer-events: none;
    opacity: .65;
}