html {
    font-size: 14px;
    
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;

}

header nav {
    display: flex;
    width: 100%;
    border-radius: 20px;

}

body {
    margin-bottom: 60px;
    background-color: rgb(235, 232, 217);
   
    
}

.navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 {
    background-color: red;
    
}

.logo-flague 
{
    width: 80px;
}

.container-fluid {
    margin: 0 auto;
}

.resource-sec {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    word-wrap: break-word;
    gap: 50px;
}

.resource-card {
    width: 45%;
    margin: 0 auto;
    padding: 20px;
}

.resource-card > *:not(:last-child)
{
    margin-bottom: 30px;

}

h2
{
    font-size: 30px;
}

p {
    font-size: 18px;
}

.resource-pic 
{
    max-width: 100%;
}

*:focus {
    box-shadow: none !important;
    outline: 0;
}

.pagination a {
    background-color: #693423;
    color: #f7f1d5;
}

.pagination li {
    margin: 0 auto;
}

.pagination a:hover {
    background-color: white;
    color: #693423;
}

.page-item.active .page-link {
    background-color: black;
    border-color: #693423;
    color: #f7f1d5;
}

input[type=submit] {
    background-color: #693423;
    color: #f7f1d5;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 3px 2px black;
    padding: 5px;
}    


    input[type=submit]:hover {
        opacity: .9;
        box-shadow: 1px 1px 2px black;
    }

footer div{
    margin: 0 auto;
}

.active
{
    background-color: black;
}